body{
    margin: 0px;
    text-align:center;
    font-family: 'Inter', sans-serif;
}

#main-container{
    height:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-container, 
#input{
    background: #6943FF;
}

#main-container h1, 
#input,
.conv-value{
    color: white;
}

#main-container h1{
    margin:0;
    font-size: 28px;
}

#input{
    width: 200px;
    height: 95px;
    margin: 25px 0;
    font-size: 40px;
    text-align: center;
    border: 2px solid #B295FF;
    border-radius: 5px;
    outline: none;
    font-family: inherit;
}

#convert-btn{
    width: 110px;
    height: 40px;
    background: #FFFFFF;
    color: #3D3D3D;
    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-size:16px;
}

#container{
    background:#1F2937;
    height: 420px;
}

#cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    width: 500px;
    height: 108.57px;
    background: #273549;
    margin-top: 20px;
    border-radius: 4.68077px 0px 0px 0px;   
    box-sizing: border-box;
    
}

.card-title{
    color:#6943FF;
}
